* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 168, 218);
    padding: 20px 150px;
}

.body-con {
    border: 1px solid black;
    padding: 20px 10px;
    background-color: #fff;
}


/* header-top */
header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.header-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-con h2 {
    font-size: 3.5vw;
}
.left-slogan{
    display: flex;
}
.left-slogan span {
    border: 1px black solid;
    padding: 20px;
}

.right-slogan {
    width: 18%;
    align-items: center;
    font-size: 0.8rem;
}

.right-slogan p:nth-child(1) {
    font-weight: bold;
}



/* header-bottom */
.header2 {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid black;
}

.header2-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2-con p:nth-child(2),
.header2-con p:nth-child(4),
.header2-con p:nth-child(5) {
    font-size: 0.6rem;
}

.header2-con p:nth-child(6) {
    font-style: italic;
}



/* title-name */
.title-name {
    text-align: center;
    padding: 5px 0 0 0;
    border-bottom: 3px solid black;
}

.title-name h1 {
    font-size: 5.5rem;
}

/* desc-below-title */
.desc {
    padding: 20px;
    text-align: center;
}


/* content-grid */
.content-grid{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 35% auto;
    grid-template-rows: 300px 350px 130px 350px;
}

.content-grid div:nth-child(1){
    grid-area: 1/1/2/2;
}
.content-grid div:nth-child(2){
    grid-area: 2/1/4/2;
}
.content-grid div:nth-child(3){
    grid-area: 4/1/5/2;
}
.content-grid div:nth-child(4){
    grid-area: 1/2/3/3;
    margin-left: 15px;
}
.content-grid div:nth-child(5){
    grid-area: 3/2/5/3;
    margin-left: 15px;
}

/* image-left-top */
.image-left-top{
    display: flex;
    flex-direction: column;
}
.image-left-top img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.image-left-top p span{
    font-weight: bold;
}


/* content-left */
.left-content h3{
    font-size: 3vw;
    border-top: solid black 3px;
}
.left-content p{
    border-top: dotted 2px black;
    padding: 10px 0;
    font-size: 1.2vw;
}
.left-content p span{
    font-weight: bold;
}


/* image-left-bottom */
.image-left-bottom{
    display: flex;
    flex-direction: column;
}
.image-left-bottom img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.image-left-bottom p span{
    font-weight: bold;
}


/* image-right-top */
.image-right-top{
    display: flex;
    flex-direction: column;
}
.image-right-top img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.image-right-top p span{
    font-weight: bold;
}


/* content-right */
.right-content h3{
    font-size: 3vw;
    padding-top: 10px;
}
.right-content > p{
    border-top: dotted 2px black;
    border-bottom: dotted 2px black;
    padding: 10px 0;
    font-size: 1.2vw;
}
.right-content > p span{
    font-weight: bold;
}


/* right-content-grid */
.right-content-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}
#right-content-left{
    grid-area: 1/1/2/2;
    font-size: 1.2vw;
}
#right-content-right{
    grid-area: 1/2/2/3;
    font-size: 1.2vw;
}


/* footer-top */

.footer-top{
    border: 3px solid black;
    margin-top: 20px;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-japanese-poster-japan-tourism-japanese-zephyr-image_16665.jpg');
}
.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.footer-top-con .footer-top-img{
    grid-area: 1/1/2/2;
}
.footer-top-img img{
    width: 100%;
    height: 100%;
}
.footer-top-center{
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-top-center p{
    font-size: 2rem;
    font-weight: 300;
}
.footer-top-center p:nth-child(2){
    margin-left: 200px;
}

.footer-top-right{
    grid-area: 1/3/2/4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-top-right i{
    font-size: 45px;
}


/* footer-bottom */
.footer-bottom{
    margin-top: 20px;
}
.footer-bottom p{
    text-align: center;
}
.footer-bottom i{
    font-size: 20px;
}

